*{
  margin:0;
  padding:0;
  font-family: 'Segoe UI';
}
/* h1{
  word-spacing:5px;
} */
::-webkit-scrollbar{
  width:6px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
/* #root{

  } */
/* .black-bg-1{
  background:linear-gradient(to top right,#2e2e2e,rgba(255, 166, 0, 0.772),black);
  background-color: #f9e104;
  background:url('../src/assets/homebg3.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  transition:all .2s linear;
} */
.bg-main-scroll{
  background-color: #000000;
  color:black;
}
.black-bg-2{
  /* background:linear-gradient(to top right,#000000,rgb(8, 8, 8),rgb(0, 0, 0)); */
  /* background:linear-gradient(to top right,#9E0D36,#9E0D36,#26000D); */
  /* background-color: #0e070f;*/
  transition:all .2s ease-in-out;
  color:white;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


.black-bg-3{
  background-color: #abf213; 
  transition:all .2s linear;
}
/* .black-bg{
  position:absolute;
  background-color: #2F2D2D;
  padding:300px 250px;
  height:100%;
  right:0;
  animation:revealimg .2s linear;
} */
/* @media(max-width:576px){
  .black-bg{
    padding:580px 15px;
    position:absolute;
  }
} */
.Header{
  position: fixed;
  width:100%;
  z-index:10;
  transition: all 0.3s ease-in-out;
}
.main{
  background:linear-gradient(to top right,rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.678),rgba(0, 0, 0, 0.377)),url('../src/assets/homebg3.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-x;
  transition:all .2s linear;
  min-height:100vh;
}
.main>img{
  left:0;
  top:120px;
}
@media(max-width:976px){
  .main{
    background-position:center;
    background-repeat: no-repeat;
  }

  }
@media(max-width:567px){
  .main--toggle{
    font-size:15px;
  }
  .main--context{
  }
}
.main--content{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top:100px;
}
.navbar--main{
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  height:10%;
}
.mavbar--main{
}
.nav--menu{
  position:relative;
  gap:50px;
  font-size:20px;
}
@media(max-width:768px){
  .nav--menu>li{
    display:none;
  }
}
.Header .btn{
  background-color: #FF8B0C;
  font-weight: 900;
  position:relative;
  clip-path: polygon(100% 75%, 90% 98%, 0% 100%, 0% 1%, 99% 1%, 100% 0%);
}
ul li{
  font-weight: 200;
  color:rgb(255, 255, 255);
}
.btn:hover{
  background-color: #FF8B0C;
}
.main{
  justify-content: space-around;
align-items: center;

}
@media(max-width:967px){
  .main{
    flex-wrap: wrap;
  }
}
.main--toggle>span,.main--toggle span>span{
  border-radius: 20px;
  color:white;
  font-weight: bold;
}
.main--toggle>span{
  background: #2F2D2D;
 
}
.main--toggle span>span{
  background-color: #FF8B0C;
  margin-right:10px;
}
.main--context,.main--btns{
  padding-top:30px;
  animation:revealcircle .2s linear;
}
.main--context>span{
  font-size:60px;
  font-weight: bolder;
}
@media(max-width:576px){
}
.main--context p{
  padding-top:20px;
  font-size:25px;
}

.text-stroke{
  -webkit-text-stroke-width: 2px;   
  -webkit-text-stroke-color: white;
  color:transparent;
  margin-right:10px;
}

.main--btns{
  justify-content: center;
  align-items: center;
  z-index:10;
  gap:50px;

}
.main--btns>button{
  clip-path: polygon(100% 75%, 90% 98%, 0% 100%, 0% 1%, 99% 1%, 100% 0%);
  border:none;
  border-radius:10px;
  font-weight: bold;
}

.main--btns>button:first-child{
  background-color:#FF8B0C;
  color:white;
}

.main--btns>button:nth-child(2){
  background-color:#ffffff;
  color:rgb(0, 0, 0);
}
.main--imgcontent img{
  position: relative;
  animation:revealimg 1s ease-in-out;
  z-index:2;
}
@media(max-width:576px){
  .main--imgcontent{
    margin-top:50px;
  }
  .main--imgcontent img{
    width:400px;
  }
 
}
@keyframes revealimg {
  0%{
    opacity:0;
  }
  100%{
    opacity:1
  }
}
.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d7e600, 0 0 40px #abf213, 0 0 50px #DEFF56, 0 0 60px #000000, 0 0 70px #272525;
}
@media(max-width:567px){
  .glow{
    font-size:30px;
    transition:0.2s ease-in-out;
  }
}
/* @-webkit-keyframes glow {
  from {
    
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */






.gym--category>h1{
  font-size:45px;
} 
.gym--category>p{
  font-size:25px;
}

.card--items{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:10px;
}
.card--items>img{
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgb(255, 255, 255);
  padding:250px;

}
.card{
  border:none;
}
.card,.card>img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition:all 0.2s ease-in;
}
.card:hover .card-img ,.card:hover .card--context{
  transform: scale(1.02);
}
.products--slide-card--item>.card-img{
  border-radius: 20px;
  border:5px solid white;
}
.products--slide-card--item>.card-img{
  width: 80%;
}
@media(max-width:567px){
  .products--slide-card--item>.card-img{
    width:100%;
  }
}
.card--context{
  padding:20px 20px;
  position:absolute;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
  bottom:0px;
  width:100%;
  background-color: #ffffff3b;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in;
}
.card--context:hover{
  background-color: transparent;
  backdrop-filter: none;
}
.card--context>button,.slide--desc>button,.products--categ-btn>button{
  border:2px solid #DEFF56;
  font-weight: 800;
}
.card--context>button{
  margin-top:80%;
}

.card--context>button:hover,
.slide--desc>button:hover,
.products--categ-btn>button:hover{
  background-color: #DEFF56;
  color:black;
}
.card:before{
  font-size: 33px;
  padding:20px;
  font-weight: 500;
  color: #ffffff;
  position:absolute;
  z-index: 10;
  top:50%;
  width:70%;
}
.card--context--desc{
  position:absolute;
  bottom:100px;
}

h1{
  justify-content: center;
  font-size:20px;
}
h1 img{
  width:25%;

}
@media(max-width:567px){
  h1{
    flex-wrap: wrap;
  }
  h1 img{
    width:100%;
  
  }
}

.exercise--categ,.products--categ,.pricing-section--img{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgb(255, 255, 255) 0px 4px 6px, rgb(255, 255, 255) 0px 12px 13px, rgb(255, 255, 255) 0px -3px 55px;
}

.exercise--categ{
  place-items: center;
  padding:35px;
  transition:all 0.2s ease-in;
  flex-wrap: wrap;
  border-radius:20px;
}
.slide--card{
  animation:slide 10s linear;
  transition: all .5s ease-in;
  cursor: pointer;

}
@keyframes slide{
  0%{
  }
  
}
.category--context {
  font-size:50px;
}
.slide--card{
  border-radius:20px;
  border-bottom-left-radius: 20px;
  width:70%;
  padding-top:100px;
}
.slide--card:nth-child(2n+1){
  background: url("../src/assets/Mike-OHearn-Dumbbell-Flye.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition:all .1s ease-in;
}
.slide--card:hover{
  filter:grayscale(0%);
  transform:scale(1.04)
}
.slide--img{
  width:100%;
}
.slide--img>img{
  width:100%;
}
@media(max-width:567px){
  .slide--card--category{
    position:relative;
    right:30%;
    width:150%;
  } 
  .slide--card{
    width:100%;
    border-radius: 20px;
  } 

}
.slide--text span{
  padding:10px 20px;
  font-size:20px;
  cursor:pointer;
  transition:all 0.5s ease-in;
}
@media(max-width:976px){
  .slide--text span{
    display: none;
  }

}
.green-box{
  text-decoration: underline #DEFF56;
  text-underline-position: under;
  border:5px solid #DEFF56;
  transition:.1s all ease-in;
}

.slide--line{
  width:40%;
  }
@media(max-width:576px){
  .slide--line{
    width:100%;
    }
    .swiper-slide{
      padding:0px 20px;
    }
}
.swiper-slide{
  padding:100px 20px;
}
.slide--card--desc>h5{
  font-weight:500;
}
.fa-bookmark{
  position: absolute;
  color: #DEFF56;
  top:96px;
  left:20px;
  font-size:80px;
}
.bookmark--desc{
  position: absolute;
  color: #000000;
  top:96px;
  left:20px;
  font-size:20px;
  padding:7px;
  font-weight: 500;
}
.slide--desc{
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.292);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.slide--card--desc{
  gap:200px;
  width:43%;
  padding:10px 20px;

}
.slide--nos{
  justify-content: center;
  gap:10px;
}
.slide--nos>span{
  padding:15px;
  border:2px solid greenyellow;
  cursor:pointer;
  transition: all 0.3s linear;
}
.slide--nos>span:hover{
  background-color: #DEFF56;
  color:black;
}







.products--categ{
  flex-wrap: wrap;
  gap: 5px;
  transition:all 0.2s ease-in;
  border-radius:20px;
  padding:10px;
  position: relative;
  min-height:60vh;
  position: relative;
  top:50px;
}
.products--categ p{
  padding-top:20px;
  font-size:15px;
}

.products--categ-btn{
  justify-content: space-between;
}
.products--categ--slider{
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.416),rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.342)),url("./assets/bodybuilding-bench-standing-training-exercise-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  backdrop-filter:blur(40px);
  border-radius: 20px;
}
.products--categ--context,.products--categ--slider{
  width:45%;
  padding:20px;
  z-index:1;
}
.product--main--desc{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap:20px;
}
.product--desc--group:nth-child(1){
  width:50%;
}
.product--desc--group:nth-child(3){
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

} 
@media(max-width:576px){
  .product--desc--group{
    width:100%;
  }
  .product--desc--group:nth-child(1){
    width:100%;
  }
}
.product--btn{
  z-index:20;
  top:50%;
  left:50%;
  transform: translate('-50%.-50%');
}
.products--slide-card--item{
  /* background-image:linear-gradient(to left,rgba(215, 46, 46, 0.397),rgba(220, 12, 12, 0.904),rgba(234, 55, 55, 0.918)); */
  align-items: center;
  width:60%;
  cursor: pointer;
}
.product--slide-card--item--desc {
  bottom:15%;
  
}

@media(max-width:976px){
  .products--slide-card--item{
    width:70%;
  }
  .products--categ--context,.products--categ--slider{
    width:100%;
  }
}
@media(max-width:576px){
  .products--categ--context,.products--categ--slider{
    width:100%;
  }
  .products--slide-card--item{
    width:100%;
  }
  .swiper-button-prev,.swiper-button-next{
    padding:0px;
  }
}
.swiper-button-prev,.swiper-button-next{
  border-radius: 50%;
}
.swiper-pagination-bullet{
  background:#abf213;
} 






.products-desc-bar {
  z-index:2;
  border-radius:3%;
  background-image: linear-gradient(#2b2e2eb5,#171c1cb5,#191c1cb5),url("https://wallpaperaccess.com/full/1245044.jpg");
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
}
.prod-desc-disp{
  animation:fadein 0.5s ease-in-out;
  left:0%;
  top:2%;
}
@keyframes fadein{
  from{
    opacity:0.5;
    /* transform:translateY(-20%); */
    z-index:20;
  }
  to{
    opacity:1;
    /* transform:translateY(0%); */
    z-index:20;
  }
  
}
@media(max-width:567px){
  .products-desc-bar{
    width:100%;
  }
  .prod-desc-disp{
    top:45%;
    left:0%;
  }
}
/* hello r u there */
.fa-xmark{
  top:10px;
  right:10px;
  z-index:4;
  cursor: pointer;
}
.products--desc--panel{
  overflow-y: scroll;
  overflow-x: hidden;
  height:400px;
  padding:20px;
}

.products--desc--main{
  justify-content: space-between;
  flex-wrap: wrap;
} 
@media(max-width:567px){
  .products--desc--main{
    justify-content: space-around;
  }
  .products--desc--panel {
    padding:0px;
  }
}
.products--desc--main--context{
  place-items: left;
  align-items: center;
}
.products--desc--main--context--pc{
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

.products--desc--main--context--pc span{
  font-size:35px;
  font-weight: 800;
  border-radius:20px;
}

.product--slider--header {
  justify-content:space-around;
}

.product--slider--header li{
  font-size:25px;
}
.product--main--sliders--context>div>span{
font-size:20px;
}



.prouct--review--desc{
  background:#898e7f7e;
  backdrop-filter:blur(10px)
}
.product--main--review{
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.progress{
  background-color: #000000bb;
  width: 450px;
  border:transparent;
  margin-bottom: 20px;
}
.progress--fill:nth-child(2n+1){
  width:70%;
  background-color: #abf213;
}
.progress-fill:nth-child(2){
  width:70%;
  background-color: #abf213;
}
@media(max-width:567px){
  .progress{
    width: 180px;
  }
}
.review--main--progress{
  place-items: center;
  align-items: center;
}
.review--panel{
  justify-content:space-between;
  align-items: center;
  gap:10px;
  flex-wrap: wrap;
}
.like-dislike{
gap:16px;
}
.fa-thumbs-up,.fa-thumbs-down{
  transition: all 0.1s ease-in-out;
  cursor:pointer;
}
.fa-star{
  color:yellow;
}
.new1 {
  border-top: 2px solid red;
}

.newreview--panel{
  height:100%;
  width:200%;
}

.products-newreview{
  background-color: #6869642c;
  backdrop-filter:blur(20px);
  position:fixed;
  width:100%;
  height:100vh;
  z-index:4;
  top:0%;
}
.products--newreview--panel{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  padding:20px;
  width:50%;
  height:400px;
 background-color: #ffffff;
 border-radius: 20px;
 animation:fadein 0.5s ease-in-out;
 background-color: #1a1c18fc;
}
@media(max-width:567px){
  .products--newreview--panel{
    width:100%;
  }
}
.form--review{
  place-items: center;
}
.input-group{
  gap:20px;
  align-items: center;
}
input[type="radio"]{
  display:none;
}
/* .fa-star{
}
.fa-star:hover{
  color:yellow;
  transition: all 0.1s ease-in-out;
} */
/* .products--newreview--panel{
overflow-x: hidden;
overflow-y: scroll;
} */
.icon{
  justify-content: center;
  align-items: center;
}
.pricing-section{
  margin-top:200px;
  min-height:120vh;
}
.pricing-section--img{
  background: url('./assets/backmuscles.png');
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  align-items: center;
  border-radius:20px;
  transition: all 0.2s ease-in-out;
}
.pricing-section--img:hover{
  visibility: visible;
}
.pricing-section>span{
  font-size:20px;
}
.toggle-section,.pricing{
  position: relative;
  padding:30px 10px;
}
.offer{
  top:0px;
  right:-50px;
  border-radius: 5px;
  color:#DEFF56;
  background-color: rgba(255, 255, 255, 0.507);
  backdrop-filter:blur(20px);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.pricing--card--section{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:30px;
}
.pricing--card--item,.pricing--cards--month,.pricing--cards--yearly{
  border-radius:20px;
  backdrop-filter: blur(10px);
}
.pricing--cards-month{
  flex-wrap: wrap;
}
.pricing--card--item{
  width:300px;
  transition:all 0.1s ease-in;
  z-index:-1;
  border-radius: 20px;
}
@media(max-width:567px){
  .pricing--card--item{
    width:100%;
  }
}
.pricing--card--item:hover{
transform: scale(1.03);
background-color:#2196F3;
z-index:4;

}
.pricinng{
  position: relative;
}
.pricing>span:nth-child(1){
font-size:60px;
}
@media(max-width:567px){
  .pricing>span:nth-child(1){
    font-size:35px;
  }
}
.pricing>span:nth-child(2){
  position: absolute;
  bottom:0;
  right:0px;
}
.pricing-btn{
  background-color: #abf213;
  border-radius:5px;
  font-weight: 600;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.1s ease-in;
}
.pricing-btn:hover{
  background-color: #abf213;
  border-radius:5px;
  font-weight: 900;
  border: 2px solid rgb(255, 255, 255);
}
.plan-list li{
  font-weight:600;
  font-size:19px;
}










.footer {
  background: linear-gradient(105deg, #2a292acf, #090909a1);
  backdrop-filter:blur(10px);
}

.footer_section h4,
.social_media h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.footer_section h4::after,
.social_media h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}


.footer_section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.footer_section ul li a {
  color: #fff;
  transition: all .3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}

.footer_section ul li a:hover {
  color: #f1f1f1;
}

.footer_section_contact ul li {
  color: #fff;
}

.search form {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact_input {
  width: 100%;
  border: none;
  padding: 0 0 0 15px;
  height: 60px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #999;
  font-size: 16px;
}


.submit_button {
  width: 70px;
  height: 60px;
  font-size: 20px;
  border: none;
  background: #fff;
  text-align: center;
  color: #a129a5;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.social_media ul{
  display: flex;
  justify-content: space-between;
}

.social_media ul li {
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #a129a5;
  background-color: #a129a5;
  transition: all .5s ease;
}

/* .social_media ul li:hover {
  border: 1px solid #a129a5;
  background-color: transparent;
} */

.social_media ul li a {
  font-weight: 100;
  color: #fff;
}

li.facebook:hover{
background-color: #4267B2;
}
li.twitter:hover{
background-color:  #00acee;
}
li.google:hover{
  background-color:  #db3236;
}
li.instagram:hover{
  background-color:rgb(234, 37, 155);
}